<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Field List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-3">Field List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Field ID</th>
                    <th>Title</th>
                    <th>Image URL</th>
                    <th>Price per Hour</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="field : ${fields}">
                    <td th:text="${field.id}"></td>
                    <td th:text="${field.title}"></td>
                    <td th:text="${field.imageUrl}"></td>
                    <td th:text="${field.pricehour}"></td>
                    <td>
                        <a th:href="@{/fields/showFormForUpdate/{id}(id=${field.id})}" class="btn btn-warning">Edit</a>
                        <a th:href="@{/fields/showFormForDelete/{id}(id=${field.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/fields/showFormForAdd}" class="btn btn-primary">Add Field</a>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
